body {
    background-color: rgb(178, 150, 114);
}

#homepage {
    font-size: 48px;
    text-align: center;
}

.title {
    text-indent: 45px;
    font-size: 24px;
    color: rgb(193, 182, 168);
    background-color: rgb(53, 40, 20);
    font-family: 'Times New Roman', Times, serif;
}

.head.title {
    font-size: 36px;
}

#image {
    height: 400px;
    width: auto;
}

#recipes {
    text-align: center;
    font-size: 24px;
    list-style: none;
}
